html, body
{
    margin: 0%;
    width: 100%;
    height: auto;
    background-color: #feef53;
}
.header
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fbbc8d;
    height: 10.2em;
}
.header2
{
    background-color: #fbbc8d;
}
.logo
{
    height: 15em;
    width: auto;
    position: relative;
    top: -2.3em;
}
.logo2
{
    height: 7em;
    width: auto;
    position: relative;
}
li
{
    list-style: none;
}
.ul_nav_login
{
    display: grid;
    grid-template-columns: 1fr 3fr; 
    height: 2.5em;
    width: auto;
}
.li_nav_login_form 
{
    display: grid;
    grid-template-rows: 3fr 1fr;
    position: relative;
    right: -25em;
}
.form_login
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.input_login
{
    height: 2.5em;
    width: 15em;
}
.button_login
{
    height: 2.5em;
    width: 15.6em;
    cursor: pointer;
}
.but 
{
    position: relative;
    margin-top: -0.5em;
}
.ul_nav
{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.end
{
    height: 2.5em;
    width: 15.6em;
    cursor: pointer;
    position: relative;
    right: -20em;
    top: 8em;
}
.li_nav 
{
    font-size: 3em;
    position: relative;
    top: 1.8em;
    right: -5em;
}
.li_nav_login
{
    font-size: 3em;
    position: relative;
    right: -9em;
    top: 2em;
}
.footer
{
    position: absolute;
    bottom: 0px;
    background-color: #fbbc8d;
    width: 100%;
}
.content_reg
{
    width: 100%;
}
.form_reg
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    right: -9em;
}
.img
{
    height: 5em;
    width: 7em;
}
.table
{
    border: solid 3px #fbbc8d;
    position: relative;
    left: 15em;
    top: 2em;
}
.label
{
    position: relative;
    top: -2.5em;
    left: 1.5em;
}
